.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  ),
 url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  .left {
    padding: 0px 60px;
    background-color: rgb(0, 0, 0);
    width: 99.65vw;
    height: 3vw;
    font-size: 25px;
    text-transform: uppercase;
    color: red;
    }
  .container {
      width: 350px;
        background-color: rgb(0, 0, 0, 0.7);
        font-size: large;
        padding: 0px 0px 0px;
        border-radius: 0px;
        height: 40vh;
        margin: 100px 630px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
  }
}

.accountButton {
  display: flex;
  width: 300px;
  height: 100px;
  font-size: 20px;
  border-radius: 5px;
  flex-direction: column;
  cursor: pointer;
  display: flex;
  margin: 1px 0px 0px 35px;
  justify-content: space-around;
  color: white;
}

.sign {
  color: rgb(245, 32, 32);
  font-size: 35px;
  display: flex;
  margin: 32px;
}

.informations {
  color: rgb(136, 64, 64);
  font-size: large;
  margin: 30px 37px;
  border: 2px;
  flex-direction: column;
}

.loginButton {
  background-color: rgb(245, 32, 32);
  border: none;
  padding: 5px 15px;
  font-size: 22px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 30px 35px;
  flex-direction: column;
  height: 40px;
  width: 300px;
}